In [1]:
# 2022-05-19
# 가장 큰 수

In [101]:
numbers = [3, 32, 34, 5, 9]

In [102]:
import numpy as np

In [88]:
srtd = sorted(np.array(numbers, dtype=str),reverse=True)

In [89]:
answer = ''.join(srtd)

In [90]:
answer

'9534323'

In [140]:
numbers = [3, 30, 31, 34, 5, 9]

In [141]:
srtd = sorted(np.array(numbers, dtype=str))

In [142]:
for i in range(len(srtd)):
    print(srtd)
    try: 
        print(srtd[i],srtd[i+1][:len(srtd[i])])
        if srtd[i] == srtd[i+1][:len(srtd[i])] and srtd[i+1][len(srtd[i])] < srtd[i]:
            srtd[i], srtd[i+1] = srtd[i+1], srtd[i]
    except IndexError:
        print('')

['3', '30', '31', '34', '5', '9']
3 3
['30', '3', '31', '34', '5', '9']
3 3
['30', '31', '3', '34', '5', '9']
3 3
['30', '31', '3', '34', '5', '9']
34 5
['30', '31', '3', '34', '5', '9']
5 9
['30', '31', '3', '34', '5', '9']

In [143]:
srtd

['30', '31', '3', '34', '5', '9']

In [128]:
srtd[::-1]

['9', '5', '34', '3', '31', '30']

In [117]:
sorted(np.array(numbers, dtype=str),reverse=True)

['9', '5', '34', '31', '30', '3']

'3'

In [130]:
len(srtd)

6

In [132]:
srtd

['30', '31', '3', '34', '5', '9']

In [37]:
# 2022-06-08
# 안테나
N = 4
loc = [5,1,7,9]

In [38]:
def dist(loc,n):
    ans = 0
    for l in loc:
        ans += abs(l-n)
    return ans

In [39]:
distance = 100000000
for i in range(1,max(loc)+1):
    temp = dist(loc,i)
    if temp < distance:
        distance = temp
        l = i

In [40]:
distance

10

In [41]:
l

5