In [50]:
# 2022-05-31
# 피보나치

In [59]:
d = [0]*100

In [60]:
def fibo(x):
    if x==1 or x==2:
        return 1
    if d[x] != 0:
        return d[x]
    #print(d[x],'---',x)
    d[x] = fibo(x-1) + fibo(x-2)
    #print(d[x],'**',x)
    #print(d)
    return d[x]

In [61]:
fibo(99)

218922995834555169026

In [63]:
# 2022-06-01
# 정수삼각형

In [81]:
triangle = [[7], [3, 8], [8, 1, 0], [2, 7, 4, 4], [4, 5, 2, 6, 5]]

In [82]:
for i in range(len(triangle)):
    for j in range(len(triangle[i])):
        if i == 0:
            continue
        else:
            if j == 0:
                triangle[i][j] = triangle[i-1][j] + triangle[i][j]
    
            elif j == len(triangle[i])-1:
                triangle[i][j] = triangle[i-1][j-1] + triangle[i][j]
            else:
                triangle[i][j] = max(triangle[i-1][j-1],triangle[i-1][j]) + triangle[i][j]

In [85]:
answer = max(triangle[-1])

[24, 30, 27, 26, 24]

In [86]:
# 2022-06-04
# n으로 표현

In [193]:
N = 5
number =  31168

In [162]:
def calc(aa,bb):
    result = set()
    for a in aa:
        for b in bb:
            result.add(a+b)
            result.add(a*b)
            result.add(a-b)
            if b != 0:
                result.add(a/b)
    return result

In [94]:
# (1,N-1) , (2,N-2) , ... , (N-2,2),(N-1,1)
#  N=3

n=1
[5]
0
[55]
0+0

n=2
[[5],[55,...]]
 0     1
 [555]]
 0+1 1+0

n=3
[[5],[55,...]][555]
 0 1 2
[5555]
0+2 1+1 2+0

In [195]:
result = [{N}]
n = 0
while number not in result[n] and n <= 8:
    
    if n == 0:
        result.append(calc(result[n],result[n])|{int(f'{N}'*(n+2))})
    
    else:
        temp = set()
        for i in range(n+1):
            temp = temp | calc(result[i],result[n-i])
        temp = temp|{int(f'{N}'*(n+2))}
        result.append(temp)  
    n += 1

In [ ]:
if n+1 > 8:
    answer = -1
else:
    answer = n+1